body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #555555;
    display: flex;
}

.main-menu > li {
    position: relative;
}

.main-menu a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

.main-menu a:hover {
    background-color: #c4c566;
}

.dropdown {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #808080;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown li a {
    padding: 12px 16px;
}

.main-menu li:hover .dropdown {
    display: block;
}

.dropdown li a:hover {
    background-color: #c4c566;
}