body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 280px;
    margin: 40px auto;
    background-color: rgb(255, 218, 239);
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h1 {
    font-size: 18px;
    margin: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

img {
    width: 100%;
}

.login {
    font-weight: bold;
    padding-top: 10px;
}

.desc {
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
}

.social img {
    width: 20px;
    margin: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(255, 131, 193);
    color: rgb(71, 71, 71);
    cursor: pointer;
}
