html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
    border: 1px solid black;
}

.left {
    background-color: #b8c480;
}

.right {
    background-color: #f4b4a0;
}
